* { box-sizing: border-box;}

.container {
  width: 100% !important;
  
  .content {
    height: calc(100%);
    .item-list {
      width: 100%;
      overflow-y: scroll;
      height: calc(100vh - 65px);
      ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
        list-style: none;
        li {
          padding: 10px;
          .catalog-card {
            width: 300px;
            .qty-product-field {
              width: 50px;
              input { 
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}