* { box-sizing: border-box;}
.outer-container {
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);

  .container {
    max-width: 350px;    
    .content {
      height: calc(100% - 67px);
      .item-list {
        width: 100%;
        overflow-y: auto;
        /* height: calc(100vh - 100px); */
        ul {
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          align-content: space-between;
          list-style: none;
          li {
            
            .catalog-card {
              img {
                padding: 10px;
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}