<khz-sidebar [showSidebar]="showLeftSidebar"></khz-sidebar>

<div class="khz-container">

  <div class="khz-content">

    <mat-toolbar color="primary">
      <button (click)="sidebarToggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
      </button>
      <button mat-button routerLink="/landing" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button color='accent' routerLink="/products" routerLinkActive="active">Products</button>
      <span class="flex-spacer"></span>
      <span class='basket' [attr.basketcount]="cartSizeValue">
        <button mat-icon-button color='accent' routerLink="products/cart" routerLinkActive="active">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </span>
      <button (click)="sideListToggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class='outlet-container'>
        <router-outlet></router-outlet>
    </div>

  </div>
  <khz-overlay (cartSize)="cartSize($event)" [comps]="comps"></khz-overlay>
</div>

<khz-side-list></khz-side-list>
