/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
html body{ 
  display: block;
  overflow: hidden;
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}