<div class="container">
<div class="cart-total">
  <h1>Total: {{total | currency }}</h1>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="accent" (click)='handlePymt()'>Checkout</button>
</div>
<div class="content-table">
  <table>
    <tr>
      <th>Product</th>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>View</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let item of dataSource">
      <td><img src="assets/images/painteddogs.png" alt="SVG D.A.D logo"></td> 
      <td><p>{{item.title}}</p></td>
      <td><p>{{item.description}}}</p></td>
      <td><p>{{item.price | currency}}</p></td>
      <td>
        <mat-form-field class="qty-table-field">
          <input matInput type="number" placeholder="Quantity" min="1" value="{{item.quantity}}" (change)="qtyValUpdated(item,qty.value)" #qty>
        </mat-form-field>
      </td>
      <td><button mat-raised-button color="primary" (click)='previewItem(item)'>View</button></td>
      <td><button mat-raised-button color="warn" (click)="removeItem(item)">Remove</button></td>
    </tr>
  </table>
</div>
</div>
